html {
  background-color: white;
  font-family: 'Kulim Park', sans-serif;
}

body {
  margin: 20px;
}

.home, .about, .projects, .contact {
  width: 100%;
  min-height: 100vh;
  padding-top: 130px;
}

/* Navigation dots */

.nav-dots {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 20px;
  display: none;
}

.nav-dots div {
  width: 16px;
  height: 16px;
  margin: 23px 0 23px 0;
  background-color: #ef8254;
  border-radius: 100%;
}

.nav-dots div:hover {
  cursor: pointer;
  background-color: #2d3142;
}

@media only screen and (min-width: 650px) {

  .nav-dots {
    display: block;
  }

}

/* Nav menu */

.page-titles {
  color: #161925;
  background-color: white;
  font-size: 22px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
}

#nav-menu {
  display: none;
  float: left;
  text-align: left;
  margin: 0;
  padding: 10px 0 0 26px;
  list-style-type: none;
}

#nav-menu > li {
  padding: 10px 0 10px 0;
}

#nav-menu > li:hover {
  cursor: pointer;
}

#burger, #toggle {
  padding-left: 20px;
}

#burger > div {
  background-color: #161925;
  width: 25px;
  height: 3px;
  margin: 5px;
}

#toggle {
  opacity: 0;
  top: 30px;
  left: 0;
  width: 25px;
  height: 25px;
  margin-left: 26px;
  position: absolute;
}

#toggle:hover {
  cursor: pointer;
}

#toggle:checked ~ #nav-menu {
  display: block;
}

@media only screen and (min-width: 650px) {

  #nav-menu {
    display: flex;
    float: none;
    justify-content: center;
    padding: 0;
  }

  #nav-menu > li {
    padding: 0 40px;
    display: block;
  }

  #toggle:checked ~ #nav-menu {
    display: flex;
  }

  #burger, #toggle {
    display: none;
  }

}

/* Container box for each page */

.page-content {
  font-size: 18px;
  padding: 20px 10% 20px 10%;
  text-align: center;
}

@media only screen and (min-width: 650px) {

  .page-content {
    margin: 0 25% 0 25%;
  }

}

/* Home */

.home {
  text-align: center;
}

.home h1 {
  font-size: 4rem;
  color: #ef8254;
}

@media only screen and (min-width: 430px) {

  .home h1 {
    font-size: 6rem;
  }

}

.home h3 {
  color: #2d3142;
}

/* About */

.about > .page-content {
  background-color: #2d3142;
  color: white;
  box-shadow: 0 4px 5px 0 black;
}

.about h1 {
  font-size: 50px;
  color: white;
}

/* Projects */

.projects > .page-content {
  display: inline-block;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 650px) {

  .projects > .page-content {
    display: flex;
    justify-content: space-around;
  }

}

.project > p {
  max-width: 250px;
}

.project img {
  width: 210px;
  height: 210px;
  border: 3px solid #A4BAB7;
  border-radius: 50%;
  object-fit: cover;
  transition: transform .2s;
}

.project img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Contact */

.contact > .page-content {
  color: #161925;
}

.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.contact-icons > a {
  width: 4rem;
  margin: 0 10px;
  transition: transform .2s;
}

.contact-icons > a:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.contact-icons img {
  max-width: 100%;
}
