html {
  background-color: white;
  font-family: 'Kulim Park', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.home, .contact {
  min-height: 100vh;
}

.about > .page-content,
.projects > .page-content,
.contact > .page-content {
  padding: 90px 10%;
}

@media only screen and (min-width: 870px) {
  .about > .page-content,
  .contact > .page-content {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.about h1,
.projects h1,
.contact h1 {
  font-size: 40px;
  color: #2d3142;
  text-align: left;
}

hr {
  border: 0.6px solid #a6a6a6;
}

/* Navigation dots */

.nav-dots {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 25vh;
  display: none;
  z-index: 90;
}

.nav-dots div {
  width: 12px;
  height: 12px;
  margin: 23px 0 23px 0;
  border: 3px solid #ef8254;
  border-radius: 100%;
  transition: background-color .2s linear;
  animation-play-state: paused;
}

.nav-dots div:hover {
  cursor: pointer;
  background-color: #ef8254;
}

@media only screen and (min-width: 650px) {
  .nav-dots { display: block; }
}

/* Nav menu */

.nav-menu {
  color: #161925;
  background-color: transparent;
  font-size: 22px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 29px;
  width: 100%;
  padding: 30px 0;
  z-index: 90;
  transition: all 0.4s ease-in-out;
}

@media only screen and (min-width: 650px) {
  .nav-menu {
    top: auto;
    transition: none;
  }
  /* Moves nav menu to bottom on certain scroll pos */
  .nav-to-bottom {
    top: auto;
    bottom: 0;
    -webkit-animation: 0.5s ease collapseNavbarUp !important;
    -moz-animation: 0.5s ease collapseNavbarUp !important;
    -o-animation: 0.5s ease collapseNavbarUp !important;
    -ms-animation: 0.5s ease collapseNavbarUp !important;
    animation-fill-mode: forwards !important;
  }
  /* Moves nav menu to top on certain scroll pos */
  .nav-to-top {
    top: 0;
    bottom: auto;
    background-color: white;
    box-shadow: 0 2px 5px -2px rgba(0,0,0,0.2);
    -webkit-animation: 0.5s ease collapseNavbarDown !important;
    -moz-animation: 0.5s ease collapseNavbarDown !important;
    -o-animation: 0.5s ease collapseNavbarDown !important;
    -ms-animation: 0.5s ease collapseNavbarDown !important;
    animation-fill-mode: forwards !important;
  }
}

/* Animation: Collapse navbar down for scrolling down */

@keyframes collapseNavbarDown {
  0% { top: -100px; }
  100% { top: 0; }
}

@-moz-keyframes collapseNavbarDown {
  0% { top: -100px; }
  100% { top: 0; }
}

@-webkit-keyframes collapseNavbarDown {
  0% { top: -100px; }
  100% { top: 0; }
}

@-o-keyframes collapseNavbarDown {
  0% { top: -100px; }
  100% { top: 0; }
}

@-ms-keyframes collapseNavbarDown {
  0% { top: -100px; }
  100% { top: 0; }
}

/* Animation: Collapse navbar up when scrolled at top of site */

@keyframes collapseNavbarUp {
  0% { bottom: -100px; }
  100% { bottom: 0; }
}

@-moz-keyframes collapseNavbarUp {
  0% { bottom: -100px; }
  100% { bottom: 0; }
}

@-webkit-keyframes collapseNavbarUp {
  0% { bottom: -100px; }
  100% { bottom: 0; }
}

@-o-keyframes collapseNavbarUp {
  0% { bottom: -100px; }
  100% { bottom: 0; }
}

@-ms-keyframes collapseNavbarUp {
  0% { bottom: -100px; }
  100% { bottom: 0; }
}

#page-titles {
  display: block;
  float: left;
  text-align: left;
  font-size: 1em;
  margin: 0;
  padding: 10px 0 0 10%;
  list-style-type: none;
}

#page-titles > li {
  padding: 10px 0 10px 0;
  opacity: 0;
  transition: color .2s ease;
  pointer-events: none;
}

#page-titles > li:hover {
  cursor: pointer;
}

@media only screen and (min-width: 650px) {

  .nav-menu {
    height: 29px;
  }

  #page-titles {
    display: flex;
    float: none;
    justify-content: center;
    padding: 0;
  }

  #page-titles > li {
    padding: 0 40px;
    opacity: 1;
    pointer-events: all;
  }

}

#burger, #toggle {
  padding-left: 9%;
}

#burger {
  z-index: 98;
}

#burger > div {
  background-color: #161925;
  width: 25px;
  height: 3px;
  margin: 5px;
}

#toggle {
  opacity: 0;
  top: 30px;
  left: 0;
  width: 25px;
  height: 25px;
  margin-left: 10%;
  position: fixed;
  z-index: 99;
}

#toggle:hover {
  cursor: pointer;
}

#toggle:checked + .nav-menu {
  height: 171px;
  background-color: white;
  box-shadow: 0 3px 4px -2px rgba(0,0,0,0.2);
}

#toggle:checked + .nav-menu > #page-titles > li {
  pointer-events: all;
}

@media only screen and (min-width: 650px) {

  #toggle {
    left: -100px;
  }

  #toggle:checked + .nav-menu {
    height: 29px;
    transition: none;
  }

  #burger {
    display: none;
  }

}

#about-title.fade-in {
  animation-delay: 0.1s !important;
}

#projects-title.fade-in {
  animation-delay: 0.26s !important;
}

#contact-title.fade-in {
  animation-delay: 0.3s !important;
}

.fade-in {
  -webkit-animation: 0.5s ease fadeIn !important;
  -moz-animation: 0.5s ease fadeIn !important;
  -o-animation: 0.5s ease fadeIn !important;
  -ms-animation: 0.5s ease fadeIn !important;
  animation-fill-mode: forwards !important;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-out {
  -webkit-animation: 0.4s ease fadeOut !important;
  -moz-animation: 0.4s ease fadeOut !important;
  -o-animation: 0.4s ease fadeOut !important;
  -ms-animation: 0.4s ease fadeOut !important;
  animation-fill-mode: forwards !important;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-ms-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#toggle:checked + .nav-menu #burger > div {
  -webkit-animation: 0.6s ease spin;
  -moz-animation: 0.6s ease spin;
  -o-animation: 0.6s ease spin;
  -ms-animation: 0.6s ease spin;
  animation-fill-mode: forwards;
}

#toggle:checked + .nav-menu #burger > div:nth-child(1) {
  animation-delay: 0.03s;
}

#toggle:checked + .nav-menu #burger > div:nth-child(2) {
  animation-delay: 0.12s;
}

#toggle:checked + .nav-menu #burger > div:nth-child(3) {
  animation-delay: 0.21s;
}

@keyframes spin {
   100% { transform: rotate(180deg); }
 }

@-moz-keyframes spin {
  100% { -moz-transform: rotate(180deg); }
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(180deg); }
}

@-o-keyframes spin {
  100% { -o-transform: rotate(180deg); }
}

@-ms-keyframes spin {
  100% { -ms-transform: rotate(180deg); }
}

.animation-stop {
  animation: none !important;
  transition: none !important;
}

/* Container box for each page */

.page-content {
  font-size: 18px;
  margin: 0;
}

/* Home */

.home {
  text-align: right;
  z-index: 4;
  background: linear-gradient(to top left, white 50%, transparent 50.1%), linear-gradient(to top right, #C8C6AF 50%, transparent 50.1%), #2d3142;
}

  .home > .page-content {
    display: none;
  }

.title, .circles {
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
}

.title {
  left: 50%;
  z-index: 3;
}

.title h1 {
  color: #ef8254;
  text-shadow: 1px 1px 1px black;
}

.title h2 {
  color: #2d3142;
}

.circles {
  left: 50%;
  height: 70%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;
}

.circles .ring {
  border: 2px dotted #C8C6AF;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: absolute;
}

.circles > .ring:nth-child(1) {
  width: 350px;
  height: 350px;
  animation: rotate 7s linear infinite;
}

.circles > .ring:nth-child(2) {
  width: 250px;
  height: 250px;
  animation: reverse-rotate 6s linear infinite;
}

.circles > .ring:nth-child(3) {
  width: 150px;
  height: 150px;
  animation: rotate 5s linear infinite;
}

.circles .dot {
  left: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #CDC5B4;
  border-radius: 50%;
  background-color: #CDC5B4;
  position: fixed;
  transform: translate(0, -6px);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverse-rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@media only screen and (min-width: 650px) {
  .home h1 {
    font-size: 7vw;
  }
  .home h2 {
    font-size: 2.5vw;
  }
  .circles {
    display: flex;
  }
}

/* About */

.about {
  color: #2d3142;
  position: relative;
  z-index: 5;
  text-align: left;
}

.bio p {
  font-size: 0.9em;
  color: #a6a6a6;
}

.education p, ul {
  font-size: 0.8em;
  margin: 0;
}

.about .resume-link {
  color: #ef8254;
  text-decoration: none;
}

.about .resume-link:hover {
  cursor: pointer;
}

.tech-logos {
  justify-content: space-between;
  display: flex;
}

.tech-logos > img {
  width: 12%;
  height: 12%;
  padding: 0 5px 30px 5px;
}

@media only screen and (min-width: 650px) {
  .qualification {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .tech-logos {
    padding-right: 20%;
  }
  .tech-logos > img {
    width: 14%;
    height: 14%;
  }
  .expand {
    opacity: 1;
    animation: expand 2.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes expand {
  0% {
    opacity: 0;
    clip-path: polygon(50% 100%,50% 0,50% 0,50% 100%);
    -webkit-clip-path: polygon(50% 100%,50% 0,50% 0,50% 100%);
 }
 40% {
    opacity: 1;
 }
  100% {
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  }
}

/* Projects */

.projects {
  height: auto;
  background: #F8F8F8;
  z-index: 5;
  text-align: left;
}

  .projects > .page-content {
    font-size: 16px;
  }

  .projects h1 {
    text-align: left;
  }

.project-list {
  font-size: 16px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 5%;
  justify-content: center;
}

.project {
  width: 100%;
  padding-bottom: 40px;
}

  .project .image img {
    width: 100%;
    border: 1px solid #C8C8C8;
    z-index: 5;
  }

  .project-link {
    font-size: 1.3em;
  }

  .project-link a {
    color: #2d3142;
    text-decoration: none;
    transition: 0.25s ease;
  }

  .project-link a:hover {
    color: #ef8254;
    cursor: pointer;
  }

  .project-description {
    font-size: 0.9em;
    z-index: 30;
  }

@media only screen and (min-width: 850px) and (orientation: landscape) {
  .projects > .page-content {
    padding-right: 15%;
    padding-left: 15%;
  }
  .project-list {
    grid-template-columns: 47.5% 47.5%;
  }
}

@media only screen and (min-width: 1070px) and (orientation: landscape) {
  .projects > .page-content {
    padding-right: 15%;
    padding-left: 15%;
  }
  .project-list {
    grid-template-columns: 30% 30% 30%;
  }
}

@media only screen and (min-width: 850px) and (orientation: portrait) {
  .project-list {
    grid-template-columns: 30% 30% 30%;
  }
}

/* Contact */

.contact {
  z-index: 5;
}

  .contact > .page-content {
    padding-top: 100px;
    /* min-height: 70vh; */
    color: #161925;
  }

    .contact > .page-content > div {
      display: block;
    }

  .contact-details h2 {
    text-align: center;
  }

    .contact-details h2 > a {
      color: #161925;
    }

    .contact-details > h2 > a:hover {
      cursor: pointer;
      color: #ef8254;
    }

  .contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

    .contact-icons > a {
      width: 4rem;
      margin: 0 14px;
      transition: transform .2s;
    }

    .contact-icons > a:hover {
      transform: scale(1.2);
      cursor: pointer;
    }

    .contact-icons img {
      max-width: 100%;
    }

@media only screen and (min-width: 830px) {
  .contact > .page-content > div {
    display: flex;
    justify-content: space-between;
  }
  .contact-details h2 { text-align: right; }
}
