html {
  background-color: white;
  font-family: 'Kulim Park', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 20px;
}

.home, .about, .projects, .contact {
  width: 100%;
  min-height: 55vh;
  margin-top: 80px;
}

/* Navigation dots */

.nav-dots {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 25vh;
  display: none;
}

.nav-dots div {
  width: 12px;
  height: 12px;
  margin: 23px 0 23px 0;
  border: 3px solid #ef8254;
  border-radius: 100%;
  transition: background-color .2s linear;
}

.nav-dots div:hover {
  cursor: pointer;
  background-color: #ef8254;
}

@media only screen and (min-width: 650px) {

  .nav-dots {
    display: block;
  }

}

/* Nav menu */

.nav-menu {
  color: #161925;
  background-color: white;
  font-size: 22px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  box-shadow: 0 3px 4px -2px rgba(0,0,0,0.2);
  z-index: 1;
}

#page-titles {
  display: none;
  float: left;
  text-align: left;
  margin: 0;
  padding: 10px 0 0 26px;
  list-style-type: none;
}

#page-titles > li {
  padding: 10px 0 10px 0;
}

#page-titles > li:hover {
  cursor: pointer;
}

#burger, #toggle {
  padding-left: 20px;
}

#burger > div {
  background-color: #161925;
  width: 25px;
  height: 3px;
  margin: 5px;
}

#toggle {
  opacity: 0;
  top: 30px;
  left: 0;
  width: 25px;
  height: 25px;
  margin-left: 26px;
  position: absolute;
}

#toggle:hover {
  cursor: pointer;
}

#toggle:checked ~ #page-titles {
  display: block;
}

@media only screen and (min-width: 650px) {

  #page-titles {
    display: flex;
    float: none;
    justify-content: center;
    padding: 0;
  }

  #page-titles > li {
    padding: 0 40px;
    display: block;
  }

  #toggle:checked ~ #page-titles {
    display: flex;
  }

  #burger, #toggle {
    display: none;
  }

}

/* Container box for each page */

.page-content {
  font-size: 18px;
  padding: 20px 10% 20px 10%;
  text-align: center;
}

@media only screen and (min-width: 650px) {

  .page-content {
    margin-left: 25%;
    margin-right: 25%;
  }

}

/* Home */

.home {
  text-align: center;
  padding-top: 0;
}

.home > .page-content {
  padding: 15vh 0 0 0;
}

.home h1 {
  font-size: 20vw;
  color: #ef8254;
}

.home h2 {
  font-size: 10vw;
  color: #2d3142;
}

@media only screen and (min-width: 650px) {

  .home > .page-content {
    margin: 0;
  }

  .home h1 {
    font-size: 7vw;
  }

  .home h2 {
    font-size: 2.5vw;
  }

}

/* About */

.about {
  padding-top: 20vh;
}

.about > .page-content {
  background-color: #2d3142;
  color: white;
  box-shadow: 0 4px 5px 0 black;
}

.about h1 {
  font-size: 50px;
  color: white;
}

/* Projects */

.projects {
  text-align: center;
  margin-top: 10vh;
}

.projects > .page-content {
  display: inline-block;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

@media only screen and (min-width: 650px) {

  .projects {
    padding-top: 15vh;
  }

  .projects > .page-content {
    display: flex;
    justify-content: space-around;
    margin-left: 12%;
    margin-right: 12%;
  }

}

.project {
  margin: 40px;
}

.project > p {
  max-width: 250px;
}

.project img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform .2s;
}

.project img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Contact */

.contact {
  margin-top: 0;
  padding: 80px 0 60px 0;
}

.contact > .page-content {
  color: #161925;
  padding-top: 0;
}

.contact > .page-content > a {
  color: #161925;
  text-decoration: none;
}

.contact > .page-content > a:hover {
  color: #ef8254;
}

.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.contact-icons > a {
  width: 4rem;
  margin: 0 10px;
  transition: transform .2s;
}

.contact-icons > a:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.contact-icons img {
  max-width: 100%;
}
