@font-face {
  font-family: "Qwergi-Regular";
  src: local("Qwergi-Regular"),
    url("./fonts/Qwergi-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "FjallaOne-Regular";
  src: local("FjallaOne-Regular"),
    url("./fonts/FjallaOne-Regular.ttf") format("truetype");
  font-weight: normal;
}
