@mixin libre-caslon-display() {
  font-family: "Libre Caslon Display", serif;
}

@mixin roboto() {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@mixin roboto-light() {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

@mixin roboto-medium() {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@mixin roboto-bold() {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
