@import './_constants.scss';
@import './fonts.scss';

html {
  scroll-behavior: smooth;
  @include roboto;
}

body {
  margin: 0;
}

.App {
  @include desktop {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
  }

  .pages-wrap {
    height: 100vh;
    width: 100vw;
    max-width: 200vw;
    max-height: 100vh;
    transition: transform .4s ease-out;
  }
}

$home-z-index: 30;
$about-z-index: 20;
$projects-z-index: 10;
$contact-z-index: 1;
.home, .about, .projects, .contact {
  @include desktop {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    top: 0;
    position: absolute;
  }
}

.home, .about, .projects, .contact {
  @include desktop {
    width: 100vw;
    max-width: 100vw;
  }
}

.about, .projects, .contact {
  .page-content {
    @include desktop {
      height: 100vh;
    }
  }
}

.home, .projects {
  background: black;
}

.about, .contact {
  background: $beige;
}

@mixin curved-divider($z-index, $color: white) {
  &::after {
    content: '';
    background: $color;
    z-index: $z-index + 1;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: absolute;
    height: 100vh;
    width: 5vw;
    top: 0;
    left: 0;
  }
}

.home {
  @include desktop {
    z-index: $home-z-index;
    transform: translateX(0);
  }
}
.about {
  @include desktop {
    @include curved-divider($about-z-index, $color: black);
    z-index: $about-z-index;
    transform: translateX(100vw);
    display: flex;
  }
}
.projects {
  @include desktop {
    @include curved-divider($projects-z-index, $color: $beige);
    z-index: $projects-z-index;
    transform: translateX(200vw);
  }
}
.contact {
  @include desktop {
    @include curved-divider($projects-z-index, $color: black);
    z-index: $contact-z-index;
    transform: translateX(300vw);
  }
}

hr {
  border: 0.6px solid #a6a6a6;
}

/* Container box for each page */

.page-content {
  font-size: 18px;
  margin: 0;
}

/* Temporary */
.circles { display: none; }
