@import "./_constants.scss";
@import "./fonts.scss";

html {
  scroll-behavior: smooth;
  @include roboto;
}

body {
  background-color: $beige;
  scroll-behavior: smooth;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

p {
  @include paragraph-text();
  text-align: right;
  margin-top: 0;
  &.bold {
    @include roboto-bold();
  }
  &.significant {
    @include significant-text-sans-serif();
  }
}

.App {
  .nav-bar {
    position: fixed;
    left: percentage($y-padding / $design-width);
    top: percentage($x-padding / $design-width);
    z-index: 100;

    p {
      @include libre-caslon-display();
      font-size: 6.6vw;
      text-transform: uppercase;
      margin: 0;
    }
  }
  .pages-wrap {
    .site-page {
      .page-content {
        height: 100%;
        padding: percentage($y-padding / $design-width)
          percentage($x-padding / $design-width);
        box-sizing: border-box;
        &.column-layout {
          display: flex;
          justify-content: space-between;
        }
        .left-column {
          $width: 409px;
          $left: 223px;
          width: percentage($width / $inner-design-width);
          margin-left: percentage(($left - $x-padding) / $inner-design-width);
        }

        .right-column {
          $width: 476px;
          $right: 127px;
          width: percentage($width / $inner-design-width);
          margin-right: percentage(($right - $x-padding) / $inner-design-width);
        }
      }
    }
  }
}

$home-z-index: 30;
$about-z-index: 20;
$projects-z-index: 10;
$contact-z-index: 1;

.home,
.about,
.projects,
.contact {
  background-color: $beige;
}

@mixin curved-divider($z-index, $color: white) {
  &::after {
    content: "";
    background: $color;
    z-index: $z-index + 1;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: absolute;
    height: 100vh;
    width: 5vw;
    top: 0;
    left: 0;
  }
}

.home {
  @include desktop {
    z-index: $home-z-index;
    transform: translateX(0);
  }
}
.about {
  @include desktop {
    z-index: $about-z-index;
    display: flex;
  }
}
.projects {
  @include desktop {
    z-index: $projects-z-index;
  }
}
.contact {
  @include desktop {
    z-index: $contact-z-index;
  }
}

hr {
  border: 0.6px solid #a6a6a6;
}
