@import "./_constants.scss";
@import "./fonts.scss";

html {
  scroll-behavior: smooth;
  @include roboto;
}

body {
  background-color: $beige;
  scroll-behavior: smooth;
  margin: 0;
}

hr {
  border: 1px solid $hr-color;
}

a {
  color: black;
  text-decoration: none;
  transition: opacity 0.25s ease-out;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

p {
  @include paragraph-text();
  text-align: right;
  margin-top: 0;
}

.App {
  .pages-wrap {
    .site-page {
      @include desktop-plus {
        margin-bottom: 50vh;
      }
      .page-content {
        height: 100%;
        padding: (($y-padding / $design-height) * 100vh)
          (($x-padding / $design-width) * 100vw);
        box-sizing: border-box;
        @include phone {
          padding: $mobile-y-padding $mobile-x-padding;
        }
        &.column-layout {
          display: flex;
          justify-content: space-between;
          @include phone {
            flex-direction: column;
          }
        }
        .left-column {
          width: percentage($left-column-width / $inner-design-width);
          margin-left: percentage(
            ($left-column-pos - $x-padding) / $inner-design-width
          );
          @include phone {
            width: 70%;
            margin-left: auto;
            margin-bottom: 1em;
          }
        }
        .right-column {
          width: percentage($right-column-width / $inner-design-width);
          margin-right: $page-right-margin;
          @include phone {
            width: 80%;
            margin-left: auto;
            margin-right: 0;
          }
        }
      }
    }
  }
  &.nav-menu-open {
    .nav-bar {
      .logo {
        @include phone {
          display: none;
        }
      }
    }
    .pages-wrap {
      @include phone {
        opacity: 0.25;
      }
    }
  }
}

$home-z-index: 30;
$about-z-index: 20;
$projects-z-index: 10;
$contact-z-index: 1;

.home,
.about,
.projects,
.contact {
  background-color: $beige;
}
.projects,
.contact {
  .page-content {
    @include tablet-plus {
      margin-right: $page-right-margin;
    }
  }
}
.home {
  @include tablet-plus {
    z-index: $home-z-index;
    transform: translateX(0);
  }
}
.about {
  @include tablet-plus {
    z-index: $about-z-index;
    display: flex;
  }
}
.projects {
  @include tablet-plus {
    z-index: $projects-z-index;
  }
}
.contact {
  @include tablet-plus {
    z-index: $contact-z-index;
  }
}
