@import "./_styles.scss";

.about {
  .page-content {
    display: flex;
    @include desktop {
      overflow: hidden;
    }

    .right-column {
      p {
        @include subtitle();
        margin-top: 8em;
      }
      .image-wrap {
        @include phone {
          max-width: 300px;
          margin-left: auto;
        }
        img {
          width: 100%;
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }
      }
    }
  }
}
