@import './_styles.scss';

.about {
  .page-content {
    @include desktop {
      padding-left: 10vw;
      overflow: hidden;
    }

    .main-text,
    .body-text {
      color: black;
      span.coloured {
        color: $golden-grey;
      }
    }

    .body-text {
      @include vh-font(25px);
      line-height: 1.4;

      @include below-desktop {
        @include vw-font(18px);

        @include tablet {
          @include vw-font(30px);
        }

        @include phone {
          @include vw-font(50px);
        }
      }
    }

    .top-text-container {
      padding-top: 5vw;

      .top-section-wrap {
        display: flex;
        .main-text {
          @include vh-font(75px);
          @include prata();
          line-height: 1.2;
          width: percentage(820px / $design-width);
          margin-bottom: 1em;

          @include phone {
            @include vw-font(90px);
          }
        }

        .map-container {
          float: left;
          width: 10vh;
          height: 10vh;
          position: relative;
          background-color: $golden-grey;
          border-radius: 50%;
          padding: 2rem;
          margin-left: 5vh;
          @include phone {
            margin-left: auto;
          }
          .map {
            background-image: url('../images/nzmap.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 10vh;
            padding-top: 100%;
          }
          #pinpoint-animation {
            position: absolute;
            top: 6.5vh;
            left: 6vh;
            width: 3rem;
          }
        }
      }

      .body-text {
        width: percentage(500px / $design-width);
        margin-bottom: 5vh;

        @include below-desktop {
          width: 60%;
          @include phone {
            width: 100%;
          }
        }
      }
    }

    .decorative {
      clear: both;
      $translate-amount: percentage(($design-width - 640px) / $design-width);
      width: 200vw;
      border-top: 1px solid black;
      position: relative;
      transform: translateX(#{$translate-amount});
      &::before {
        content: '';
        left: 0;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background: black;
        margin-top: -.75rem;
        @include phone {
          width: 1rem;
          height: 1rem;
          margin-top: -.5rem;
        }
      }
    }

    .bottom-text-container {
      @include desktop {
        width: 100vw;
      }
      .body-text {
        margin-top: 2em;
        width: percentage(900px / $design-width);
        margin-left: percentage(400px / $design-width);

        @include below-desktop {
          margin-left: auto;
          width: 80%;
          @include phone {
            width: 100%;
          }
        }

        .project-attributes {
          padding-left: 2em;
          @include phone {
            padding: 0;
          }
          li {
            list-style-type: none;
            span.coloured {
              @include prata;
              @include vh-font(65px);
              @include phone {
                @include vw-font(80px);
              }
            }
          }
        }
      }
    }
  }
}
