@import "./_styles.scss";

.contact {
  margin-bottom: 0 !important;
  @include below-tablet-landscape {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-content {
    padding-bottom: (($x-padding / $design-height) * 100vh) !important;
    @include below-tablet-landscape {
      height: auto !important;
    }
    .heading,
    .email {
      display: block;
      width: percentage(935px / $inner-design-width);
      @include phone {
        width: 80%;
      }
    }
    .heading {
      @include large-title(80px);
      @include roboto-medium();
      text-transform: uppercase;
      margin-top: percentage((309px - ($y-padding * 2)) / $design-height);
      margin-bottom: 0.5em;
      margin-left: auto;
      @include below-desktop() {
        font-size: 64px;
        @include phone() {
          font-size: 48px;
        }
      }
    }
    .email {
      @include large-title(64px);
      @include roboto-light();
      margin-bottom: 3em;
      line-height: 1.1;
      text-transform: uppercase;
      text-decoration: underline;
      text-align: right;
      word-break: break-all;
      margin-left: auto;
      @include below-desktop() {
        font-size: 48px;
        @include phone() {
          font-size: 36px;
        }
      }
    }
  }
}
