@import "./_styles.scss";

$title-z-index: 2;

.home {
  text-align: right;
  z-index: 4;
  opacity: 0;
  @include below-tablet-landscape {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  > .page-content {
    position: relative;
    @include below-tablet-landscape {
      height: auto !important;
    }

    .title-wrap {
      position: relative;

      .title {
        @include large-title();
        text-transform: uppercase;
        text-align: center;
        margin: 0.25em 0 1.25em;
        position: relative;
        z-index: $title-z-index;
        @include phone {
          width: auto;
          margin: 1em auto;
        }
        &.clone {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0;
          transition: transform 1s ease;

          &.grey {
            color: #f6f1f1;
            z-index: $title-z-index - 1;
          }

          &.white {
            color: white;
            z-index: $title-z-index - 2;
          }
        }
      }
    }

    $lower-content-max-width: 640px;
    .subtitle-wrap {
      max-width: $lower-content-max-width;
      margin: 4rem auto;

      .subtitle {
        @include subtitle-serif();
        text-transform: uppercase;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        @include phone {
          max-width: 250px;
          margin: 0 auto;
          position: relative;
          &:last-child {
            span {
              margin: 0 auto;
            }
          }
        }
      }
    }

    .decorator {
      display: flex;
      justify-content: space-between;
      max-width: $lower-content-max-width;
      margin: 0 auto;
      height: 0;
      .line {
        width: percentage(245px / 690px);
        &:first-child {
          transform: rotate(180deg);
        }
        .inner {
          border-top: 1px solid black;
        }
      }
      .circle {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: black;
        transform: translateY(-50%);
        @include phone {
          width: 40px;
          height: 40px;
        }
      }
    }

    .home-nav-links {
      @include subtitle-serif();
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      max-width: $lower-content-max-width;
      margin: 4rem auto 0;

      @include phone {
        max-width: 320px;
      }
    }
  }
}
