@import "./_styles.scss";

$title-z-index: 1;
$circle-z-index: -1;

.home {
  height: 100vh;
  text-align: right;
  z-index: 4;

  > .page-content {
    position: relative;

    .right-column {
      position: relative;
      @include phone {
        order: 1;
      }
      .title {
        @include large-title();
        text-transform: uppercase;
        $design-top: 363px - ($y-padding * 2);
        margin-top: ($design-top / $design-height) * 100vh;
        margin-bottom: 0;
        margin-left: auto;
        width: (590px / $inner-design-width) * 100vw;
        position: absolute;
        right: 0;
        @include phone {
          width: 50%;
          min-width: 200px;
        }
      }
    }

    .left-column {
      position: relative;
      @include phone {
        order: 2;
      }
      .subtitle {
        @include subtitle();
        text-transform: uppercase;
        width: percentage(287px / $left-column-width);
        margin-left: auto;
        $design-top: 736px - ($y-padding * 2);
        margin-top: ($design-top / $design-height) * 100vh;
        @include phone {
          width: 40%;
          min-width: 150px;
          max-width: 170px;
          margin-top: 3rem;
          position: relative;
        }
      }
    }
  }
}
