@import "./_styles.scss";

$title-z-index: 1;
$circle-z-index: -1;

.home {
  height: 100vh;
  text-align: right;
  z-index: 4;

  // @include phone {
  //   visibility: hidden;
  //   height: 0;
  //   width: 0;
  // }

  > .page-content {
    position: relative;

    .title {
      @include large-title();
      text-transform: uppercase;
      $design-top: 363px - ($y-padding * 2);
      margin-top: percentage($design-top / $design-width);
      margin-bottom: 0;
      margin-left: auto;
      width: percentage(590px / $design-width);
      position: absolute;
      $design-right: 130px;
      right: percentage($design-right / $design-width);
    }

    .subtitle {
      @include paragraph-text();
      font-weight: bold;
      text-transform: uppercase;
      width: percentage(287px / $design-width);
      position: absolute;
      $design-left: 345px;
      $design-top: 736px - ($y-padding * 2);
      left: percentage($design-left / $design-width);
      margin-top: percentage($design-top / $design-width);
    }
  }
}
