@import "./_styles.scss";

.nav-bar {
  opacity: 0;
  visibility: hidden;
  position: fixed;

  .logo,
  .nav-menu {
    top: percentage($x-padding / $design-width);
    position: fixed;
  }

  .logo {
    @include nav-logo();
    text-transform: uppercase;
    margin: 0;
    position: fixed;
    left: percentage($x-padding / $design-width);
    @include phone {
      left: $mobile-x-padding;
    }
  }

  .nav-menu {
    right: percentage($x-padding / $design-width);
    height: $burger-size;
    display: flex;
    cursor: pointer;

    @include phone {
      height: $burger-size;
      left: $mobile-x-padding;
      justify-content: space-between;
    }

    .nav-links {
      @include libre-caslon-display();
      font-size: 14px;
      display: flex;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;

      @include phone {
        display: block;
      }

      a {
        display: block;
        line-height: 1;
        height: 1em;
        border: 1px solid black;
        border-radius: 30px;
        background-color: black;
        color: white;
        padding: 1em 2em;
        text-transform: uppercase;
        margin-right: 1em;
        transition: opacity 0.25s ease-out;

        @include phone {
          margin-bottom: 1em;
        }

        &:last-child {
          margin-right: 2em;
        }
        &.active,
        &:hover {
          opacity: 0.5;
        }
      }
    }

    .burger {
      width: $burger-size;
      height: 100%;
      position: relative;
      background-color: black;
      border-radius: 50%;
      transition: opacity 0.25s ease-in-out;

      .burger-inner {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        div {
          background-color: white;
          width: 20px;
          height: 2px;
          margin: 5px;
        }
      }

      &:hover {
        opacity: 0.5;
      }
    }

    &.active {
      .nav-links {
        opacity: 1;
        visibility: visible;
      }

      .burger {
        background-color: white;
        .burger-inner {
          div {
            background-color: black;
          }
        }
      }
    }
  }
}
