@import './_styles.scss';

.nav-menu {
  $nav-col-design-width: 85px;
  $nav-col-design-margin: 45px;
  position: fixed;
  top: 8vh;
  right: 0;
  z-index: 99;
  // transition: all 0.4s ease-in-out;

  #burger, #toggle {
    top: 2rem;
    right: 2rem;
    position: fixed;
  }

  #toggle {
    opacity: 0;
    width: 25px;
    height: 25px;
    z-index: 99;
    display: none;

    @include phone {
      display: block;
    }
  }

  #burger {
    z-index: 98;

    @include tablet {
      display: none;
    }

    & > div {
      background-color: $golden-grey;
      width: 25px;
      height: 3px;
      margin: 5px;
    }
  }

  .page-titles {
    transform: translate(-5vh, -5vh);
    list-style-type: none;
    display: flex;
    margin: 0;

    @include phone {
      position: fixed;
      transform: none;
      left: 0;
      top: 0;
      width: 100vw;
      height: 22vh;
      padding: 3rem;
      background: black;
      box-sizing: border-box;
      display: none;
    }

    li {
      @include roboto;
      @include vw-font(20px);
      padding: 0;
      margin-left: 2em;
      letter-spacing: -.15vw;
      text-decoration: none;
      text-transform: uppercase;
      color: $golden-grey;
      transition: opacity .25s ease-in-out;

      @include below-desktop {
        font-size: 20px;
        @include phone {
          margin-left: 0;
          margin-bottom: .5em;
        }
      }

      &:hover {
        cursor: pointer;
        opacity: .5;
      }

      &:first-child {
        visibility: hidden;

        @include phone {
          display: none;
        }
      }

      &.current {
        opacity: .5;
      }
    }
  }

  #toggle:checked ~ .page-titles {
    @include phone {
      display: block;
    }
  }
}
