@import "./_styles.scss";

.project-detail {
  margin-bottom: 0 !important;

  .page-content {
    .project-header {
      @include tablet-plus {
        padding-top: 5rem;
      }
      .project-heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid $hr-color;
        padding-bottom: 10px;
        margin-bottom: 10px;
        line-height: 1;
        .project-number {
          @include paragraph-text();
          white-space: nowrap;
        }
        .project-title {
          @include significant-text(80px);
          @include below-tablet-landscape {
            font-size: 32px;
          }
        }
      }
      .project-subheading {
        @include paragraph-text();
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        @include below-tablet-landscape {
          font-size: 14px;
          flex-direction: column;
        }
        .project-attributes,
        .project-links {
          @include below-tablet-landscape {
            text-align: right;
          }
        }
        .project-attributes {
          @include below-tablet-landscape {
            margin-bottom: 0.5em;
          }
        }
        .project-links {
          @include below-tablet-landscape {
            border-top: 1px solid $hr-color;
            padding-top: 0.5em;
          }
        }
      }
    }
    .project-content {
      display: flex;
      margin-top: 4rem;
      @include below-tablet-landscape {
        flex-direction: column;
      }
      .project-info {
        @include paragraph-text();
        width: percentage(409px / $inner-design-width);
        margin-left: percentage(159px / $inner-design-width);
        @include below-tablet-landscape {
          width: 80%;
          margin-left: auto;
          margin-bottom: 2em;
        }
        .project-info-subheading {
          @include paragraph-text();
          @include fjalla-one-regular();
          text-transform: uppercase;
        }
        .project-description,
        .project-work {
          @include paragraph-text(18px);
        }
        .project-description {
          margin-bottom: 4em;
        }
        .project-work {
          text-align: right;
          list-style-type: none;
          li {
            margin-bottom: 1em;
          }
        }
      }
      .project-gallery {
        width: percentage(560px / $inner-design-width);
        margin-left: auto;
        @include below-tablet-landscape {
          width: 100%;
        }
        .project-image {
          width: 100%;
          margin-bottom: 3rem;
          &.portrait {
            width: 80%;
            margin-right: auto;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    .return-link {
      @include significant-text();
    }
  }
}
