@import "./_styles.scss";

.projects {
  .page-content {
    display: flex;
    justify-content: space-between;
    .left-column {
      .significant {
        opacity: 0.2;
      }
    }
    .right-column {
      .project-list {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        li {
          @include significant-text-serif();
          &.toggle-all-projects {
            margin-top: 1em;
          }
        }
      }
    }
  }
}

.project-list-full {
  width: 100vw;
  z-index: $nav-z-index + 1;
  background: black;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;

  .project-list-wrap {
    height: auto;
    min-height: 100vh;
    padding: 5vh 10vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
  }

  .project-section {
    @include vw-font(35px);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;

    @include phone {
      @include vw-font(90px);
    }
  }

  .project {
    width: 50%;
    @include phone {
      width: 100%;
    }
    .project-title,
    .project-wrap {
      padding-right: 3rem;
    }

    .project-title {
      @include vw-font(25px);
      letter-spacing: 0.5px;
      border-bottom: 1px solid white;
      margin-right: 1em;
      transition: opacity 0.5s ease;
      opacity: 1;

      @include phone {
        @include vw-font(64px);
      }

      p {
        margin-bottom: 0;
      }

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }

    .project-wrap {
      height: 0;
      overflow: hidden;

      .image,
      .project-description,
      .links {
        width: 100%;
      }
      .image {
        margin: 1rem 0;

        @include desktop {
          margin: 1rem 0;
        }

        img {
          width: 100%;
        }
      }
      .project-description {
        margin-bottom: 1rem;

        @include desktop {
          margin-bottom: 2rem;
        }

        p {
          @include vw-font(14px);
          margin: 0;

          @include phone {
            @include vw-font(50px);
          }
        }
      }
      .links {
        a {
          color: black;
          text-decoration: none;
          margin-right: 1rem;

          span {
            @include vw-font(9px);
            background-color: white;
            padding: 1em 2em;
            border-radius: 2em;
            display: inline-block;
            transition: opacity 0.5s ease;
            opacity: 1;

            @include phone {
              @include vw-font(40px);
            }

            &:hover {
              cursor: pointer;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
