@import './_styles.scss';

.toggle-all-projects {
  position: absolute;
  bottom: 3vw;
  right: 3vw;
  width: 3vw;
  height: 3vw;
  padding: .25vw;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: background-color .5s ease, color .5s ease;
  z-index: 2;
  // text
  @include vw-font(9px);
  @include prata;
  margin: 0;
  line-height: 1.4;
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
  color: black;

  @include below-desktop {
    @include vw-font(30px);
    width: 10vw;
    height: 10vw;
    right: 0;
    bottom: 0;

    // @include phone {
    //   @include vw-font(30px);
    // }
  }

  &.sticky {
    position: sticky !important;
    -webkit-position: sticky !important;
    margin-left: auto;

    @include below-desktop {
      right: 3rem;
      bottom: 3rem;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}


.project-list,
.project-list-full {
  @include desktop {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
  }
}

.project-list {
  @include desktop {
    padding: 5vh 10vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: center;
  }

  .project {
    @include desktop {
      &:nth-child(1) {
        width: 23vw;
      }

      &:nth-child(2) {
        width: 25vw;
        margin-top: 15vh;
      }

      &:nth-child(3) {
        width: 19vw;
      }

      &:nth-child(4) {
        width: 20vw;
        margin-top: -24vh;
      }

      &:nth-child(5) {
        width: 17vw;
      }

      &:nth-child(6) {
        width: 24vw;
        margin-top: -5vh;
      }
    }

    @include below-desktop {
      &:nth-child(6) {
        padding-bottom: 8rem;

        @include phone {
          padding-bottom: 0;
        }
      }
    }

    .project-wrap {
      .image {
        overflow: hidden;
        position: relative;
        opacity: 0.7;
        padding: 2em 2em .5em;

        @include below-desktop {
          padding: 0;
          margin-bottom: 5rem;
        }

        img {
          width: 100%;
        }
      }

      .project-title {
        padding: 0 2em;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity .5s ease, visibility .5s ease;

        & > p {
          @include vw-font(10px);
          color: white;
          text-transform: uppercase;
          margin: 0 0 1em;
        }
      }

      .links {
        display: none;
        span, a {
          color: black;
        }
        span {
          background: white;
          padding: 1em;
          border-radius: 2em;
          display: inline-block;
          &.popup-link {
            margin-right: 1em;
          }
        }
        a {
          text-decoration: none;
        }
      }

      .project-description {
        font-size: 0.9em;
        font-weight: bold;
        z-index: 30;
      }

      &:hover {
        cursor: pointer;

        .project-title {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.project-list-full {
  z-index: $nav-z-index + 1;
  background: black;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;

  .project-list-wrap {
    height: auto;
    min-height: 100vh;
    padding: 5vh 10vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
  }

  .project-section {
    @include vw-font(35px);
    @include prata;
    letter-spacing: .5px;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: .5em;

    @include phone {
      @include vw-font(90px);
    }
  }

  .project {
    width: 50%;
    @include phone {
      width: 100%;
    }
    .project-title,
    .project-wrap {
      padding-right: 3rem;
    }

    .project-title {
      @include prata;
      @include vw-font(25px);
      letter-spacing: .5px;
      border-bottom: 1px solid white;
      margin-right: 1em;
      transition: opacity .5s ease;
      opacity: 1;

      @include phone {
        @include vw-font(64px);
      }

      p {
        margin-bottom: 0;
      }

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }

    .project-wrap {
      height: 0;
      overflow: hidden;

      .image,
      .project-description,
      .links {
        width: 100%;
      }
      .image {
        margin: 2rem 0;

        @include phone {
          margin-bottom: 1rem;
        }

        img {
          width: 100%;
        }
      }
      .project-description {
        margin-bottom: 2rem;

        @include phone {
          margin-bottom: 1rem;
        }

        p {
          @include vw-font(14px);
          margin: 0;

          @include phone {
            @include vw-font(50px);
          }
        }
      }
      .links {
        span {
          @include vw-font(9px);
          background-color: white;
          padding: 1em 2em;
          border-radius: 2em;
          display: inline-block;
          transition: opacity .5s ease;
          opacity: 1;

          @include phone {
            @include vw-font(40px);
          }

          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }

          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.projects {
  color: white;

  @include phone {
    padding-top: 5rem;
  }

  .page-content {
    padding: 0 !important;
    position: relative;
  }
}
