@import "./_styles.scss";

.projects {
  $lists-width: 835px;
  .page-content {
    h3 {
      @include light-text(80px);
      text-align: right;
      margin-bottom: 0;
    }
    hr {
      width: 100%;
    }
    .content-list {
      width: percentage($lists-width / $design-width);
      margin-left: auto;
      ul {
        padding-left: 0;
        list-style-type: none;
        .list-item {
          text-align: right;
          a {
            display: block;
            .list-item-heading {
              display: flex;
              justify-content: space-between;
              align-items: end;
              border-bottom: 1px solid $hr-color;
              padding-bottom: 10px;
              margin-bottom: 10px;
              line-height: 1;
              .list-item-number {
                @include paragraph-text();
                white-space: nowrap;
              }
            }
          }
        }
      }
      &.project-list {
        .list-item {
          margin: percentage(59px / $inner-design-height) 0;
          a {
            .list-item-heading {
              .list-item-title {
                @include significant-text(64px);
              }
            }
            .list-item-attributes {
              @include light-text();
              text-transform: uppercase;
            }
          }
        }
      }
      &.additional-project-list,
      &.more-about-list {
        > .heading {
          @include paragraph-text(32px);
          margin: 3em 0 1em;
          opacity: 0.2;
        }
        ul {
          .list-item {
            margin-bottom: 1.5rem;
            a {
              .list-item-heading {
                .list-item-title {
                  @include listing-title();
                }
              }
            }
          }
        }
      }
      &.additional-project-list {
        ul {
          display: flex;
          flex-wrap: wrap;
          .list-item {
            width: percentage(377px / $lists-width);
            display: flex;
            align-items: end;
            &:nth-child(2n + 2) {
              margin-left: auto;
            }
            a {
              width: 100%;
              .list-item-attributes {
                @include light-text(16px);
                text-transform: uppercase;
              }
            }
          }
        }
      }
      &.more-about-list {
        .list-item-collapsible {
          overflow: hidden;
          .gallery-scroller {
            border: 1px solid black;
            padding: 0.5rem;
            overflow: hidden;
            .gallery-scroller-wrap {
              display: flex;
              overflow: visible;
              width: max-content;
              .gallery-item {
                display: flex;
                width: auto;
                img,
                .gallery-item-desc {
                  @include significant-text();
                  text-align: left;
                  height: 8em;
                }
                img {
                  width: auto;
                }
                .gallery-item-desc {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  max-width: 330px;
                  margin: auto 1em;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
      }
    }
  }
}
